@{
    Layout = "_Layout";
}

<div class="container">
    <div class="card bg-dark">
        <div class="card-header">
<h1>Welcome to Hair Salon Stylist Tool!!</h1>
        </div>
        <div class="card-body">
            <p>To begin, click the link below to see all stylists, or add a new stylist.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-outline-warning" href="/Stylists">View Stylists</a>
            
        </div>
        
    </div>
</div>
