@{
  Layout = "_Layout";
}

        @model HairSalon.Models.Client
        <div class="card bg-dark">
          <div class="card-header">
        <h4>Add a new client</h4>
</div>
<div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Name)<br>
            @Html.TextBoxFor(model => model.Name)<br>

            @Html.LabelFor(model => model.Stylist)<br>
            @Html.DropDownList("StylistId")
            <hr/>
            <input type="submit" value="Add new client" class="btn btn-outline-success"/>


        
        <a class="btn btn-outline-secondary" href="/Clients">Back</a>
        }
      </div>

</div>