@{
    Layout = "_Layout";
}

@model HairSalon.Models.Client
<div class="card bg-dark">
    <div class="card-header">
<h2>Are you sure you want to delete this?</h2>
</div>
<div class="card-body">
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<hr>
@using (Html.BeginForm())

{
    <input type="submit" class="btn btn-outline-warning" value="delete"/>
}
</div>
<div class= "card-footer">
@Html.ActionLink("Back to Clients", "Index")
</div>
</div>